* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  background-image: linear-gradient(
    to left top,
    #eebdd9,
    #e6c1e2,
    #ddc5e9,
    #d4c9ee,
    #cbcdf1,
    #c4d3f6,
    #bdd9f9,
    #b8defa,
    #b4e6fd,
    #b2eefe,
    #b3f6fc,
    #b9fdf8
  );
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button {
  background: #a9399c;
  border: none;
  padding: 10px 20px;
  color: white;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
