@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  background-image: linear-gradient(
    to left top,
    #eebdd9,
    #e6c1e2,
    #ddc5e9,
    #d4c9ee,
    #cbcdf1,
    #c4d3f6,
    #bdd9f9,
    #b8defa,
    #b4e6fd,
    #b2eefe,
    #b3f6fc,
    #b9fdf8
  );
}

h2 {
  font-family: "Tangerine", cursive;
  font-size: 5rem;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  padding: 25px 0;
}

input.error {
  border: 2px solid rgb(234, 63, 60);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  border: 2px solid rgb(211, 97, 211);
  padding: 10px;
}

.search-button {
  background: #a9399c;
  border: none;
  padding: 10px 20px;
  color: white;
}

.search-button:hover,
.search-button:active {
  background: #7a2a71;
  cursor: pointer;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.not-found {
  width: 50%;
  min-width: 30%;
  margin: 30px auto;
  font-family: "Merienda One", cursive;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

img {
  width: 50%;
  margin-top: 30px;
}
